body {
    font-family: Arial, sans-serif;
    background-color: #a7c7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.dropdown {
    background-color: #82216d;
    color: white;
    padding: 15px 20px;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    appearance: none; 
    background: #82216d; 
    color: white; 
    font-size: 16px; 
    flex-shrink: 0; 
}

.dropdown option {
    background-color: #f9f9f9;
    color: black;
    padding: 15px 20px;
    border-radius: 50px;
    cursor: pointer;
    border-top-left-radius: 50px;
    border-bottom-left-radius:5px;
}

input[type="text"] {
    padding: 15px;
    border: none;
    outline: none;
    width: 300px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.search-btn {
    background-color: #82216d;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.search-btn:hover {
    background-color: #b22e91;
}
